<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
  <h1>Error Occurred</h1>
  <div>
    <p>Status: <span th:text="${status}">[status]</span></p>
    <p>Error: <span th:text="${error}">[error]</span></p>
    <p>Message: <span th:text="${message}">[message]</span></p>
    <p>Path: <span th:text="${path}">[path]</span></p>
    <p>Timestamp: <span th:text="${timestamp}">[timestamp]</span></p>
    <pre th:text="${trace}">[stacktrace]</pre>
  </div>
  <a th:href="@{/boards/list}">Back to List</a>
</div>ㅌ
</body>
</html>